.tabla{
    display:grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows:repeat(9,1fr);
    border:none;
    width: 300px;
    height: 300px;
    margin:100px auto;
    margin-top: 13%;
}
.crno{
    background-color: green;
    height: 32px;
    width: 32px;
    border:1px solid green;
}
.bijelo{
    background-color:white;
    border:1px solid green;
}
.broj{
    border:none;
    text-align: center;
}
.slovo{
    border:none;
    text-align: center;   
}
