
 @import url(http://fonts.googleapis.com/css?family=Gabriela);
html{
    background-color: #a7a09a;
    
}
body{
    
    margin-top:0;
}

#okvir{
    width: 70%;
    margin: auto ;
    background-color:  #99c;
    height: 510px;
    margin-top:0;
}

h1{
   
    font-family: "Gabriela" ;
    color: green;
    font-size: 42pt;
    background-color:#ddd;
    width: 100%;
    height: 100px;
    margin-bottom: 0;
    padding:0px ;

}
#meni ul{
    background-color: #c99;
    width: 100%;
    padding: 7px;
    margin-top:0;
    margin-bottom: 0;
    box-sizing: border-box;
    margin-bottom: 0;
}

#meni li{
    display: inline;   
}

#glavni {
    background-color:  #9c9;
    width: 70%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top:0;
    padding: 5px;
    height: 73%;
    float:left;
    box-sizing: border-box;
    
}

#desno {
    background-color: #c9c;
    width:30%;
    float: right;
    margin-top: 0;
    box-sizing: border-box;
    padding: 5px;

}

#podnozje {

    background-color:  #cc9;
    width: 100%;
    padding: 0.2px;
    margin-top:200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    clear: both;
  
}

    


