.parni{
    color: green;
}
.container{
    text-align: center;
}
.cetvrti{
    text-decoration:underline;
}
.siva{
    background-color: gray;
}
.crna{
    background-color: black;
    color: white;
}
.plava{
    color: blue;
}